

<!DOCTYPE html>
<html>
<head>
    @{

        Layout = null;
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    @*
        @if (Session["Email"] != null)
        {
            <li class="nav-item">
                <span class="nav-link">Welcome, @Session["Username"]!</span>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link" })
            </li>
        }
        else
        {
            <li class="nav-item">
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
            </li>
        }*@

    <!--<div class="container">
       @Html.ActionLink("Application Name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">-->
    @*<ul class="navbar-nav flex-grow-1">
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>*@
    <!--</div>
    </div>-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
               <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
       
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
